.filter-container {
  display: flex;
  flex-wrap: wrap;

  div {
    border: 1px solid $primary-color;
    margin: 4px;
    padding: 12px;
  }
}

.selected {
  background: $primary-color;
  color: white;
}

.results {
  margin: 16px 0;
  padding: 8px;
  border: 2px solid $primary-color;
  width: 100%;

  section {
    @media (min-width: 768px) {
      display: flex;
      width: 60%;
    }
  }

  li {
    list-style: none;
    padding: 8px;
  }
}

.hidden {
  display: none;
}
